<% @page_title = "Členství ve sdružení" %>

<div id="main">

  <div class="content">

Společnost KRAXNET s.r.o. je členem těchto sdružení:
<ul>
<li><a href="http://www.nic.cz">CZ.NIC, z.s.p.o.</a></li>
<li><a href="http://www.csrug.cz">Československé sdružení uživatelů programovacího jazyka Ruby, o.s.</a></li>
</ul>

  </div><!-- /content -->

</div><!-- /main -->