<% @page_title = "Historie" %>
<ul>
	<li>1996 - modemový systém KRAXNET BBS</li>
	<li>1998 - nabídka webhostingu na www.xnet.cz</li>
	<li>2001 - vznik KRAXNET s.r.o.</li>
	<li>2003 - členství ve sdužení CZ.NIC</li>
	<li>2004 - oficiální registrátor cz domén</li>
	<li>2006 - první ENUM registrátor v ČR</li>
	<li>2007 - založení Railshosting.cz</li>
</ul>
