<% @page_title = "Historie" %>

<div id="main">

  <div class="content">

<h1><%= @page_title %></h1>

<h2>1996</h2>
<p>V roce 1996 vznikl modemový systém KRAXNET BBS, který byl propojen do mezinárodní sítě FidoNet.</p>

<h2>1998</h2>
<p>V roce 1998 se začínáme orientovat na internetové služby. Začínáme provozovat informační servery (např. <a href="http://www.startrek.cz">startrek.cz</a>) a na adrese <a href="http://www.xnet.cz">www.xnet.cz</a> zveřejňujeme nabídku hostingových služeb.</p>

<h2>2001</h2>
<p>V tomto roce byla založena společnost KRAXNET s.r.o., která navázala na činnost fyzické osoby Jiří Kubíček - KRAXNET.</p>

<h2>2003</h2>
<p>Počet registrovaných uživatelů našich služeb překročil 35000. Společnost KRAXNET s.r.o. má zájem podílet se na rozvoji národní domény cz a byla přijata za člena v sdužení CZ.NIC. Ihned po decentralizaci systému registrace domén v doméně cz jsme podepsali smlouvu se sdružením CZ.NIC a stali se tak oficiálním registrátorem cz domén.</p>

<h2>2005</h2>
<p>Objevujeme výhody frameworku Ruby on Rail s přepisujeme všechny naše aplikace.</p>

<h2>2006</h2>
<p>V roce 2006 byl v České republice zaveden systém ENUM a společnost KRAXNET se stala prvním ENUM registrátorem v ČR.</p>

<h2>2007</h2>
<p>Při příležitosti konference Ostrava on Rails byla spuštěna služba specializovaného Ruby on Rails hostingu - <a href="http://www.railshosting.cz">Railshosting.cz</a></p>

  </div><!-- /content -->

</div><!-- /main -->