<div id="middle">

  <div class="content">

    <div class="profil">
      <p>Společnost KRAXNET s.r.o. poskytuje široké portfolio služeb v oblasti registrace a správy domén, web hostingu a housingu i v širší oblasti internetové komunikace.
      <a href="/mise-a-vize"><strong>&rarr;&nbsp;Naše mise a vize</strong></a></p>
    </div>

    <h1>Naše služby</h1>
    
    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.xnet.cz">
      <h3>Registrace a správa domén</h3>
      <p>Jednoduchá a pohodlná registrace a správa Vašich domén. Jsme přímým registrátorem cz domén a prostřednictvím našich spolehlivých partnerů zajišťujeme registraci a správu i dalších zajímavých domén. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.xnet.cz">
      <h3>PHP webhosting</h3>
      <p>Webhosting pro PHP4 i PHP5 a to jak kvalitní placený hosting tak i ve variantě zdarma k doméně. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.railshosting.cz">
      <h3>Ruby on Rails hosting</h3>
      <p>Profesionální hosting pro Vaše Ruby on Rails aplikace: Mongrel/Apache/SVN/SSH/Capistrano <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <h3>Ruby on Rails konzultace</h3>
      <p>Řešíte nějaký problém s Ruby on Rails? Rádi Vám poradíme a podělíme se o naše zkušenosti.</p>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.karmi.cz/#ruby-on-rails-workshops">
      <h3>Ruby on Rails školení</h3>
      <p>Potřebujete proškolit svůj tým? Školení na míru pro Vás sestaví Karel Minařík. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <h3>Ruby on Rails audit</h3>
      <p>Chcete si ověřit kvalitu nějaké Ruby on Rails aplikace? Provedeme Vám profesionální audit.</p>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.mojedns.cz">
      <h3>DNS hosting</h3>
      <p>Pokud nemáte k doméně DNS servery, můžete zdarma použít naše. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.xnet.cz">
      <h3>Email hosting</h3>
      <p>Nepotřebujete web a stačí Vám email? Využijte našich výhodných standardních PHP balíčků a přebytečnou kapacitu použijte právě na poštu. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <h3>Git hosting</h3>
      <p>Dostupný repositář Git pro Vaše projekty. Určený zvláště pro použití se službou RailsHosting. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="http://www.redir.cz">
      <h3>Přesměrování</h3>
      <p>Potřebujete snadno zapamatovatelnou webovou adresu zdarma a stačí Vám doména třetího řádu? Zřiďte si přesměrování v některé z našich domén. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

  </div><!-- /content -->

</div><!-- /middle -->

<div id="right">
  <div class="press_releases">
  <h2>Tiskové zprávy</h2>
  <ul>
    <% @blog_items.each do |blog_item| %>
    <li>
      <a href="<%= blog_item.link %>">
      <span class="date"><%= human_date(blog_item.pubDate) %></span>
      <span class="content">
        <strong><%= blog_item.title %></strong>
        <%= truncate(blog_item.description, 200) %>
        <span class="more">Celý článek&nbsp;&raquo;</span>
      </span>
      </a>
      <div class="clear">&nbsp;</div>
    </li>
    <% end %>
  </ul>
  <div class="clear">&nbsp;</div>
  <p class="archive"><a href="/novinky">&rarr; Archiv tiskových zpráv</a></p>
  </div><!-- /press_releases -->
</div><!-- /right -->
