<div id="middle">

  <div class="content">

    <div class="profil">
      <p>Společnost KRAXNET s.r.o. poskytuje široké portfolio služeb v oblasti registrace a správy domén, web hostingu a housingu i v širší oblasti internetové komunikace.
      <a href="/mise-a-vize"><strong>&rarr;&nbsp;Naše mise a vize</strong></a></p>
    </div>

    <h1>Naše služby</h1>
    
    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <a href="#">
      <h3>Registrace a správa domén</h3>
      <p>Jednoduchá a pohodlná registrace a správa Vašich domén. Jsme přímým registrátorem cz domén a prostřednictvím našich spolehlivých partnerů zajišťujeme registraci a správu i dalších zajímavých domén. <span class="more"><strong>Více informací&nbsp;&raquo;</strong></span></p>
      </a>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <h3>PHP webhosting</h3>
      <p>Webhosting pro PHP4 i PHP5 a to jak kvalitní placený hosting tak i ve variantě zdarma k doméně. <a href="#"><strong>Více informací&nbsp;&raquo;</strong></a></p>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

    <div class="panel">
    <div class="content">
      <div class="t"></div>
      <h3>DNS hosting</h3>
      <p>Pokud nemáte k doméně DNS servery, můžete zdarma použít naše. <a href="#"><strong>Více informací&nbsp;&raquo;</strong></a></p>
     </div><!-- /content -->
     <div class="b"><div></div></div>
    </div><!-- /panel -->

  </div><!-- /content -->

</div><!-- /middle -->

<div id="right">
  <div class="press_releases">
  <h2>Tiskové zprávy</h2>
  <ul>
    <li>
      <a href="#">
      <span class="date">20/10/2008</span>
      <span class="content">
        <strong>První Ruby on Rails hosting zdarma</strong>
        V sobotu byla spuštěna varianta hostingu Ruby on Rails zcela zdarma!
        <span class="more">Celý článek&nbsp;&raquo;</span>
      </span>
      </a>
      <div class="clear">&nbsp;</div>
    </li>
    <li>
      <a href="#">
      <span class="date">22/8/2008</span>
      <span class="content">
        <strong>Vylepšené nástroje pro větší počet domén a ještě delší nadpis</strong>
        Pokud u nás máte více domén, máme pro Vás nástroje, které Vám usnadní jejich prodlužování a novou registraci. <span class="more">Celý článek&nbsp;&raquo;</span>
      </span>
      </a>
      <div class="clear">&nbsp;</div>
    </li>
  </ul>
  <div class="clear">&nbsp;</div>
  <p class="archive"><a href="#">&rarr; Archiv tiskových zpráv</a></p>
  </div><!-- /press_releases -->
</div><!-- /right -->
