<% @page_title = "Kontaktní informace" %>

<div id="main">

  <div class="content">

<h1><%= @page_title %></h1>

<table class="light">
<tr><th>Email:</th><td><a href="mailto:info@kraxnet.cz">info@kraxnet.cz</a></td></tr>
<tr><th>Adresa:</th><td>Kamenická 26, 170 00 Praha 7</td></tr>
<tr><th>Telefon:</th><td>220 199 201</td></tr>
<tr><th>Fax:</th><td>220 199 200</td></tr>
<tr><th>IČ:</th><td>26460335</td></tr>
<tr><th>DIČ:</th><td>CZ26460335</td></tr>
</table>

<p>Společnost je <a href="http://www.justice.cz/xqw/xervlet/insl/index?sysinf.@typ=or&amp;sysinf.@strana=searchResults&amp;hledani.@typ=subjekt&amp;hledani.format.typHledani=x*&amp;hledani.podminka.subjekt=kraxnet">zapsána</a> v obchodním rejstříku vedeném u Městského soudu v Praze, oddíl C, vložka 83734.</p>

  </div><!-- /content -->

</div><!-- /main -->