<% @page_title = "Kontaktní osoby" %>
<ul>
<li>Ing. Jiří Kubíček<br />jednatel společnosti</li>
<li>Ing. Jan Minárik<br />oddělení Ruby on Rails</li>
<li>Ondřej Bíma<br />oddělení XNET</li>
</ul>
<p>Email: info@kraxnet.cz</p>
<p>Adresa: Kamenická 26, 170 00 Praha 7</p>
<p>Telefon: 220 199 201</p>
<p>Fax: 220 199 200</p>
