<% @page_title = "Mise a vize" %>

<div id="main">

  <div class="content">

<h1><%= @page_title %></h1>

<p><strong>Mise</strong> společnosti KRAXNET s.r.o. je poskytovat spolehlivé a kvalitní služby v oblasti zajištění kvalitní webové prezentace a internetové komunikace. S vysokým důrazem na technologie nabízí spolehlivou platformu pro dlouhodobě stabilní provoz služeb.</p>
<p><strong>Vize</strong> společnosti KRAXNET s.r.o. je automatizace. Postupně došlo k odbourání rutinních činností v oblasti fakturace a zpracování plateb. Automatický dohledový systém samočinně odstraňuje nejčastější závady rychleji než technik. Vysoká informační otevřenost by měla napomoci ve snížení počtu individuálních požadavků na podporu. Automatizace a odbourání rutinních kroků nám napomůže soustředit se na plánování a vývoj ještě kvalitnějších služeb.</p>

  </div><!-- /content -->

</div><!-- /main -->
