<% @page_title = "Mise a vize" %>

<div id="main">

  <div class="content">

<h1><%= @page_title %></h1>

<p><strong>Mise</strong> společnosti KRAXNET s.r.o. je poskytovat spolehlivé a kvalitní služby v oblasti zajištění kvalitní webové prezentace a internetové komunikace. S <span class="highlight">vysokým důrazem na technologie</span> nabízí spolehlivou platformu pro dlouhodobě stabilní provoz služeb.</p>

<p><strong>Vize</strong> společnosti KRAXNET s.r.o. je <span class="highlight">automatizace</span>. Postupně se nám podařilo odbourat rutinní činnosti v oblasti fakturace a&nbsp;zpracování plateb.</p>

<p>Automatický dohledový systém samočinně odstraňuje nejčastější závady rychleji než technik.</p>
  
<p>Vysoká informační otevřenost napomáhá snížení počtu individuálních požadavků na podporu.</p>

<p>Automatizace a odbourání rutinních kroků nám napomůže soustředit se na <span class="highlight">plánování a vývoj ještě kvalitnějších služeb</span>.</p>

  </div><!-- /content -->

</div><!-- /main -->
