<% @page_title = "Služby pro registrátory CZ domén" %>


<div id="main">
<div class="content">

<h1><%= @page_title %></h1>

<p>Správu domény CZ zajišťuje sdružení CZ.NIC, z.s.p.o. Naše společnost je členem tohoto sdružení od roku 2003 a od stejného roku je smluvním registrátorem cz domén. Naše dlouholeté zkušenosti s provozem registračního systému a naše znalosti technických a právních stránek systému centrálního registru nám dovolují poskytovat služby i pro ostatní registrátory.</p>

<ul>
  <li>Podpora při zajištění smluvních povinností</li>
  <li>Zajištění technologických povinností</li>
  <li>Vylepšený přístup ke službám registru</li>
</ul>

<h2>Poradenství a administrativní podpora při zajišťování statutu registrátora</h2>
<ul>
  <li>Konzultace pravidel registrace a minimálních požadavků na status registrátora</li>
  <li>Příprava smluvní dokumentace</li>
</ul>

<h2>Správa komunikačního kanálu s centrálním registrem</h2>

<p>Otevírání komunikačního kanálu a přihlášení k centrálnímu registru může být časově náročné. Náš systém udržuje automaticky otevřený potřebný počet kanálů a ty zpřístupňuje pro komunikaci ostatním EPP klientům</p>

<p>Připojených EPP klientů může být více, než je maximální limit otevřených spojení do registru. Náš systém požadavky rozkládá mezi dostupná spojení. Jednotliví EPP klienti se hlásí svým vlastním přihlašovacím jménem a heslem a je tedy možné sestavit logy pro jednotlivé systémy či pracovníky.</p>

<p>Prostřednictvím našeho systému lze s centrálním registrem komunikovat nejen protokolem EPP, ale i pohodlně přes RESTfull protokol. Funkce registru tak můžete velmi jednoduše propojit do svých systémů.</p>

<p>Při udržování spojení s registrem toto spojení neustále monitorujeme a vyhodnocujeme jeho kvalitu. Zároveň kontrolujeme, zda nejsou dostupné nějaké nové POLL zprávy, případně je převezmeme a případně předáme metodou PUSH na Vaše rozhraní.</p>

<p>Komunikace našeho systému probíhá protokolem IPv6. Tento kanál je 10x levnější, než IPv4 komunikace. Náš systém se tedy určitě vyplatí pokud např. nemůžete nebo zatím nechcete IPv6 zavést.</p>

<p>Ve stávající implementaci EPP protokolu může dojít k pomíchání odpovědí u info služeb. Náš systém toto kontroluje a opravuje. Vždy dostanete tu správnou odpověď!</p>

<p>S naším systémem získáte:</p>
<ul>
  <li>Udržování stálého spojení na registr</li>
  <li>Monitorováni dostupnosti registru</li>
  <li>Přijímání poll zpráv a jejich následné zpracování</li>
  <li>Zpřístupnění služeb a funkcí registru prostřednictvím RESTfull protokolu</li>
  <li>EPP proxy pro round-robin load balancing mezi potřebným a dostupným počtem komunikačních kanálů</li>
  <li>Vlastní přístupové údaje v EPP pro každý systém nebo pro každého zaměstnance registrátora</li>
  <li>Uchovávání logů komunikace pro případný audit</li>
  <li>Zajištění přijetí správné odpovědi u asynchronních požadavků na registr</li>
  <li>Komunikace s registrem prostrednictvim IPv6 (sleva na roční poplatek za udržování komunikačního kanálu)</li>
  <li>Zajištění certifikátu pro komunikaci</li>
  <li>Zajištění nonstop telefonní linky pro komunikaci s registrem</li>
</ul>

</div>
</div>
