<% @page_title = "Naše služby" %>

<div id="main">

  <div class="content">

<ul>
<li><a href="http://www.xnet.cz">Registrace a správa domén</a>
	<p>Jednoduchá a pohodlná registrace a správa Vašich domén. Jsme přímým registrátorem cz domén a prostřednictvím našich spolehlivých partnerů zajišťujeme registraci a správu i dalších zajímavých domén.</p>
</li>
<li><a href="http://www.xnet.cz">PHP webhosting</a>
	<p>Webhosting pro PHP4 i PHP5 a to jak kvalitní placený hosting tak i ve variantě zdarma k doméně.</p>
</li>
<li><a href="http://www.railshosting.cz">Ruby on Rails hosting</a>
	<p>Profesionální hosting pro Vaše Ruby on Rails aplikace.</p>
</li>
<li><a href="http://www.mojedns.cz">DNS hosting</a>
	<p>Pokud nemáte k doméně DNS servery, můžete zdarma použít naše.</p>
</li>
<li><a href="http://www.xnet.cz">Email hosting</a>
	<p>Nepotřebujete web a stačí Vám email? Využijte našich výhodných standardních PHP balíčků a přebytečnou kapacitu použijte právě na poštu.</p>
</li>
<li><a href="http://www.githost.cz">git hosting</a>
	<p>Dostupný repositář git pro Vaše projekty. Určený zvláště pro použití se službou RailsHosting.</p>
</li>
<li><a href="http://www.redir.cz">Přesměrování</a>
	<p>Potřebujete snadno zapamatovatelnou webovou adresu zdarma a stačí Vám doména třetího řádu? Zřiďte si přesměrování v některé z našich domén.</p>
</li>
<li>Ruby on Rails konzultace
	<p>Řešíte nějaký problém s Ruby on Rails? Rádi Vám poradíme a podělíme se o naše zkušenosti.</p>
</li>
<li><a href="http://www.karmi.cz/#ruby-on-rails-workshops">Ruby on Rails školení</a>
	<p>Potřebujete proškolit svůj tým? Školení na míru pro Vás sestaví Karel Minařík.</p>
</li>
<li>Ruby on Rails audit</li>
	<p>Chcete si ověřit kvalitu nějaké Ruby on Rails aplikace? Provedeme Vám profesionální audit.</p>
</ul>	

  </div><!-- /content -->

</div><!-- /main -->