@import url('common.css');
@import url('panel.css');
@import url('buttons.css');
  
/* --- Typography --- */
body 
  { color: #2e3330;
    font-size: 75%; 
    font-family: 'Lucida Grande', Tahoma, Helvetica, sans-serif;
    line-height: 140%; }
    
a { color: #2e3330; }

.content
  { line-height: 140%; }

/* Links */
.content a
  { color: #2e3330; }
.content a.no_underline
  { text-decoration: none; } 
.content a.no_underline:hover
  { text-decoration: underline; }
.content a.pdf
  { background: url('../images/icons/famfamfam/page_white_acrobat.png') 0 50% no-repeat; 
    padding: 0.2em 0 0.2em 20px; }
.content a:hover
  { color: #fb1f2d; } 

/* Tables */
.content table { margin: 0.5em 0 1.5em 0; border-collapse: collapse; width: 100%; }
.content table caption { color: #595959; text-align: left; margin: 1em 0 0.5em 0;}
.content th, .content td { text-align: left; border-bottom: 1px solid #dae8f3; padding: 0.5em 0.1em; }
.content th { color: #3b4854; background: #a6d5ff; border-bottom: 2px solid #92c5f2; text-align: left; }
.content tr:last-child td { border-width: 2px; }
.content table.light th
  { color: #3d4954; font-size: 95%; font-weight: normal; }
.content table.light td,
.content table.light th
  { background: none; border-bottom: 1px solid #dae8f3; }
.content table.light tr:last-child td { border-width: 1px; }

/* Headers */
.container h1
  { color: #596e80;
    background: url('../images/bg/dot.red.png') 0 55% no-repeat;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 200%;
    font-weight: normal;
    line-height: 125%; 
    letter-spacing: -0.05em;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 15px; }

.container h2,
.container h3
  { color: #3d4954;
    font-family: Tahoma, Helvetica, sans-serif;
    font-weight: normal; }
.container h2
  { font-size: 160%;
    margin: 1.5em 0 0.3em 0; }
.container h3
  { font-size: 140%;
    margin: 1em 0 0.2em 0; }

/* Lists */
.container .content ul
  { list-style-type: square;
    margin: 0 0 0 1.1em; }
.container .content ul li
  { margin-bottom: 0.25em; }

/* Text */
.container p
 { margin-bottom: 0.8em; }

.content .highlight
 { background-color: #d1eaff;
   padding: 0.1em 0.3em 0.2em 0.3em;
   font-weight: normal; }

.content small
  { color: #5b666b;
    font-size: 95%; }

/* Images */
.container .content p img
  { border: 3px solid #c2dcf2;
    margin: 0.3em 1em 1em 0;
    float: left; }
.container .content p strong img
  { border: 6px solid #c2dcf2;
    margin: 1em auto;
    float: none; }

/* --- General layout --- */

body 
  { color: #1b1d1f;
    background: #f2f8fd url('../images/bg/body.bg.png') 0 0 repeat-x; }

#page
 { min-height: 100%; position: relative; }

.container
 { min-width: 600px; 
 	max-width: 80em; 
 	margin: 0 auto; 
 	padding: 0 0 20em 0; 
 	position: relative; }

#left
  { float: left;
    width: 160px;
    margin-top: -10px;
    margin-right: 14px; }

#middle
  { margin-right: 2em;
    float: left;
    width: 40em; }

#right
  { float: left; }

#main
  { margin: -0.75em 2em 0 0;
    float: left;
    width: 60em; }


/* ----- Top Navigation Bar -------------------------------------------------------------------- */

#top_navigation_bar
  { color: #3d4954;
    font-size: 75%;
    text-transform: uppercase;
/*    background: url('../images/bg/top_navigation_bar.bg.png') 0 0 repeat-x; */
    height: 30px; 
    max-width: 107em; 
  	margin: 0 auto;
    padding: 0; }
#top_navigation_bar div
  { position: relative;
    left: 27px; }
#top_navigation_bar a
  { color: #3d4954; text-decoration: none; font-weight: bold; }
#top_navigation_bar a:hover
  { color: #3d4954;
    text-decoration: underline; }
#top_navigation_bar a img
  { vertical-align: middle; margin: -0.4em 0.4em 0 0;}
#top_navigation_bar span
  { text-align: center;
    color: #3d4954;
    background: url('../images/bg/top_navigation_bar.bg.m.png') 0 0 repeat-x; 
    line-height: 1em;
    padding: 0.8em 0 0.2em 0;
    height: 30px;
    display: block; 
    float: right; }
#top_navigation_bar .l,
#top_navigation_bar .r
  { width: 30px; }
#top_navigation_bar .l
  { background: url('../images/bg/top_navigation_bar.bg.l.png') 0 0 no-repeat; width: 30px;}
#top_navigation_bar .r
  { background: url('../images/bg/top_navigation_bar.bg.r.png') 0 0 no-repeat; }


/* ----- Header -------------------------------------------------------------------------------- */

#header
  { margin: 10px 0 30px 0; }

#header img
  { margin-left: -6px; }


/* ----- Menu --------------------------------------------------------------------------- */

#left #menu
  { font-size: 95%; }
#left #menu ul
  {  }
#left #menu ul li
  { color: #243140;
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 7px;
    clear: both; }
#left #menu ul li span
  { background: url('../images/bg/menu_item_bg.png') 0 0 no-repeat;
    padding: 0.2em 5px 0.1em 14px;
    display: block;
    height: 21px;
    float: left; 
    max-width: 130px; }
#left #menu ul li span.r
  { background: url('../images/bg/menu_item_bg.r.png') 0 0 no-repeat;
    width: 11px;
    padding: 0;
    overflow: hidden; }
#left #menu ul li a
  { color: #243140;
    font-weight: bold;
    text-decoration: none;
    height: 18px;
    overflow: hidden; }
#left #menu ul li a:hover span,
#left #menu ul li a:hover span.r,
#left #menu ul li a.active span,
#left #menu ul li a.active span.r
  { color: #fff;
    background-position: 0 -30px;
    text-decoration: none; }
/* --- Submenu --- */
#left #menu ul li ul li
  { font-size: 90%;
    margin: 0 0 0.2em 0.5em;
    max-height: 18px;
    overflow: hidden; }
#left #menu ul li ul li span
  { background: url('../images/bg/submenu_item_bg.png') 0 0 no-repeat;
    padding: 0.1em 5px 0.1em 10px;
    display: block;
    height: 17px;
    float: left; }
#left #menu ul li ul li span.r
  { background: url('../images/bg/submenu_item_bg.r.png') 0 0 no-repeat;
    width: 11px;
    padding: 0; }
#left #menu ul li ul li a
  { font-weight: normal; }
#left #menu ul li ul li a:hover span,
#left #menu ul li ul li a:hover span.r,
#left #menu ul li ul li a.active span,
#left #menu ul li ul li a.active span.r
  { color: #fff;
    background-position: 0 -21px;
    text-decoration: none; }
#left #menu ul li span.clear
  { background: none;
    height: 0; width: 0;
    clear: both; }

/* ----- Rounded panel ------------------------------------------------------------------------- */

.panel .content,
.panel .t,
.panel .b,
.panel .b div
  { background-image:transparent url("../images/bg/panel-800-800.png");
   _background-image:url("../images/bg/panel-800-800.gif"); }
.panel .b,
.panel .b div
  { height: 10px; font-size:1px; }
.panel .content
  { padding: 11px 0.5em 1px 1px; }
.panel .content *
  { padding-bottom: 0; }

.panel,
.panel .content
  { color: #1b1d1f;
    font-size: 98%; }
.panel .more
  { text-decoration: underline; }
.panel a,
.panel a:hover
  { color: #1b1d1f;
    text-decoration: none; }
.panel a:hover *
  { color: #000; }

.panel h3
  { color: #1b1d1f;
    font-size: 135%;
    font-family: 'Lucida Grande', Tahoma, Helvetica, sans-serif;
    letter-spacing: -0.05em;
    margin: 0; }


/* ----- Profile --------------------------------------------------------------------------- */

.profil
  { color: #313538;
    font-size: 110%;
    line-height: 130%;
    margin: 0 0 1em 0; }


/* ----- Press Releases ----------------------------------------------------------------------- */

.press_releases
  { color: #2a353b; }
.press_releases ul
  { list-style-type: none; }
.press_releases ul li
  { font-size: 95%;
    clear: both;
    display: block;
    padding-bottom: 1em; }
.press_releases li span.date
  { font-size: 90%;
    text-align: right;
    width: 7em;
    display: block;
    float: left; }
.press_releases li span.content
  { line-height: 125%;
    display: block;
    margin-left: 1em;
    width: 17em;
    float: right; }
.press_releases .more
  { font-size: 90%;
    text-decoration: underline; }
.press_releases li span.content strong
  { display: block; }
.press_releases h2
  { color: #64737a;
    font-size: 110%;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    text-transform: uppercase;
    background: url('../images/dotted_line_300px.png') bottom left no-repeat; }
.press_releases li a
  { color: #2a353b;
    text-decoration: none; } 
.press_releases li a:hover
  { text-decoration: none; } 
.press_releases li a:hover strong
  { color: #fb1f2d;
    text-decoration: underline; }

.press_releases p.archive
  { font-size: 90%;
    margin-left: 7em; } 
.press_releases.archive h3
  { font-size: 150%; }
.press_releases.archive h3 small
  { font-size: 70%; }
.press_releases.archive a
  { text-decoration: none !important; }
.press_releases.archive a:hover h3
  { text-decoration: underline; }
.press_releases.archive a:hover p
  { color: #2a353b; }
.press_releases.archive .item
  { margin: 1em 0 1em 0;
    padding: 0 0 1em 0;
    background: url('../images/dotted_line_300px.png') bottom left no-repeat; }

/* ----- Footer -------------------------------------------------------------------------------- */

#footer
  { color: #5c5f66;
    font-size: 75%;
    margin-top: 10em;
    width: 100%;
    position: absolute; 
    bottom: 0; }
#footer .inner
  { max-width: 106.5em;
    padding: 0.5em 0 0 1.5em;
    margin: 0 auto; 
    position: relative; }
#footer .column
  { width: 30%;
    margin-right: 3%;
    float: left; }
#footer a 
  { color: #5c5f66; 
    font-weight: normal; 
    text-decoration: none;
    border-bottom: 1px dotted #5c5f66;}
#footer .content
  { font-size: 120%; }
#footer .content h4
  { font-size: 125%;
    font-weight: normal;
    margin: 0.5em 0 0.3em 0;
    padding: 0; }
#footer .content p
  { margin: 0; padding: 0; }
#footer .credits
  { color: #b5c6cf;
    padding: 1.3em 0 1.5em 0; 
    position: relative;
    padding-left: 170px; }
#footer .credits a
  { color: #b5c6cf; 
    border-bottom: none; }
#footer .credits a:hover
  { text-decoration: underline; }
#footer .designed_by
  { text-align: right;
    background: url('../images/floral.png') center right no-repeat; 
    padding-right: 20px; 
    position: absolute; right: 1em; top: 1.3em; }
