BODY {
	background-color : #E6E6E6;
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	padding : 0px 0px 0px 0px;
	background-iamage : url("/images/background.gif");
	background-raepeat : repeat-y;
}

.background {
        background-color : #E6E6E6;
        background-image : url("/images/end_line.gif");
        background-repeat : repeat-y;
}

.text {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : Black;
}

.menu {
  list-style-type: square;
  line-height: 2em;
}

.menu a:link, a:visited{
  text-decoration: none;
  color: black;
}

#active {
  font-weight: bold;
}